<form (ngSubmit)="onSubmit()" [formGroup]="form.formGroup">
  <krk-email-input [loading]="authenticationService.emailLoading"/>

  @if (userInformationVisible()) {
    <div class="user-information-container">
      <krk-first-name-input #firstName/>
      <krk-last-name-input #lastName/>
    </div>
  }

  @if (passwordVisible()) {
    <krk-password-input #password/>
  }

  @if (confirmPasswordVisible()) {
    <krk-confirm-password-input #confirmPassword/>
  }

  @if (submitButtonVisible()) {
    <krk-authentication-submit-button class="submit-button"/>
  }

  @if (authenticationService.errorMessage()) {
    <span class="error-message">{{ authenticationService.errorMessage() }}</span>
  }
</form>
