@import "./styles/material-disable";
@import "./styles/scroll";

@font-face {
  font-family: "instrument-sans";
  src: url("../public/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf");
}

html {
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--surface);
  color: var(--on-surface);
  fill: var(--on-surface);
  //font: unset !important;
  font-size: 13px;
  font-family: "instrument-sans", sans-serif !important;
  //font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

:root {
  --primary: #4BBF57;
  --button-down-color: #4BBF57;
  --on-primary: #ffffff;

  --mat-app-primary: #4BBF57;
  --mdc-circular-progress-active-indicator-color: #4BBF57;
  --mdc-filled-button-container-color: #4BBF57;

  --surface: white;
  --on-surface: #686868;
  --on-surface-light: #959595;
  --input-border: solid 1px #AEAEAE;
  --input-border-focused: solid 2px #4BBF57;
  --placeholder: #AEAEAE;
  --error: #C60F0F;

  --snackbar-background-error: rgba(184, 27, 27, 0.75);
  --snackbar-background-success: rgba(50, 150, 26, 0.75);

  --unselected: #E1E1E1;
  --on-unselected: #696969;

  --border-color-1: solid 1px #CECECE;
  --border-radius: 10px;

  --spacer-color: #E4E4E4;

  --image-placeholder: #E4E4E4;
  --box-shadow: rgb(0, 0, 0, 0.2);

  --loader-color: #EAEAEA;

  --scroll-color: #59E567;
  --button-hover-color: #B3E9B8;
  --on-button-hover-color: #3F7344;

  --recipe-aspect-ratio: 341 / 192;
  --max-width-document: 756px
}

input {
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

