:host {
  position: fixed;
  bottom: 30px;
  left: var(--sidebar-width);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-progress-spinner {
  width: 30px !important;
  height: 30px !important;
}
