<krk-tabular-container>
  <ng-container navigation>
    <krk-tabular-navigation>
      <ng-container>Read Me</ng-container>
    </krk-tabular-navigation>
    <krk-tabular-navigation>
      <ng-container>Code of Conduct</ng-container>
    </krk-tabular-navigation>
    <krk-tabular-navigation>
      <ng-container>MIT License</ng-container>
    </krk-tabular-navigation>
  </ng-container>
  <ng-container actions></ng-container>
  <ng-container body>
    Hell
  </ng-container>
</krk-tabular-container>
