@import "./styles/blocknote-overwrite";

:host {
  display: block;
  --bna-editor-horizontal-padding: 54px;
}

.recipe-name {
  font-size: 28px;
  font-weight: bold;
  margin: 0 var(--bna-editor-horizontal-padding);
  display: block;
  line-height: 34px;
  margin-bottom: 4px;
  text-wrap: nowrap;
}

.creator-username {
  font-size: 12px;
  color: var(--krk-on-surface-light);
  padding: 0 var(--bna-editor-horizontal-padding);
  display: block;
  line-height: 1;
  font-weight: bold;
}

.recipe-name:read-write:focus {
  outline: none;
}

:host ::ng-deep .krk-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
