:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
  border-radius: 12px;
  background-color: var(--krk-unselected);
  color: var(--krk-on-unselected);
  width: fit-content;
  box-sizing: border-box;
}

:host-context(.active) {
  background-color: var(--krk-primary);
  color: var(--krk-on-primary);
}
