:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.krk-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

:host {
  --number-of-columns: 1;

  @media screen and (min-width: 1010px) {
    --number-of-columns: 2;
  }

  @media screen and (min-width: 1350px) {
    --number-of-columns: 3;
  }

  @media screen and (min-width: 1700px) {
    --number-of-columns: 4;
  }

  @media screen and (min-width: 2044px) {
    --number-of-columns: 5;
  }

  @media screen and (min-width: 2421px) {
    --number-of-columns: 6;
  }
}

.home-items-container {
  padding: 0 20px 0 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(var(--number-of-columns), 1fr);
  row-gap: 17px;
  column-gap: 15px;
}

krk-recipe {
  width: 100%;
}
