<div class="krk-information">
  <krk-avatar [image]="media.creator?.profilePicture"/>
  <div class="krk-text-information">
    <input #titleSpan [class.edit-mode]="mode === 'edit'" [contentEditable]="mode === 'edit'" [disabled]="mode === 'read'"
           [value]="media.name" class="media-title"/>
    <span class="creator-user-name">&#64;{{ media.creator?.userName ?? "Unknown" }}</span>
    <div class="minimal-information">
      <span>{{ minimalInformation1 }}</span>
      <div class="separator"></div>
      <span>{{ media.publishedDate | date: 'dd/MM/yyyy' }}</span>
    </div>
  </div>
</div>
