<div [class.error]="!!error()" class="input-wrapper">
  <input
    #input
    (blur)="onInputBlur()"
    (focus)="onInputFocus()"
    (input)="onInputChange(input.value)"
    [class.padding-right]="error() || (withSubmitButton && !error()) || loading()"
    [disabled]="isDisabled"
    [id]="inputId"
    [type]="type"
    [value]="value()">
  <span [@placeholderAnimation]="placeholderAnimationState()"
        class="placeholder">{{ error() !== "" ? error() : placeholder }}</span>

  @if (loading()) {
    <krk-loader/>
  } @else if ((withSubmitButton && !error()) && !isDisabled) {
    <krk-icon-submit-button (click)="onSubmit.emit()"/>
  } @else if (error()) {
    <krk-error-button [error]="error"/>
  }
</div>
