:host {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.propagation-preventer {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 100%;
}

krk-icon-button {
}

.add-to-collection-icon {
  fill: var(--krk-on-surface);
  transition: fill 100ms;
}

.circle-behind-add-icon {
  fill: var(--krk-surface);
  transition: fill 200ms;
}

krk-icon-button:hover {
  .add-to-collection-icon {
    fill: var(--krk-on-button-hover-color);
  }

  & .circle-behind-add-icon {
    fill: var(--krk-button-hover-color);
  }

  & .check-background {
    fill: var(--krk-button-hover-color);
  }
}

.krk-fill-primary {
  fill: var(--krk-primary);
}

.check-background {
  fill: var(--krk-surface);
}
