@if (service.loading()) {
  <div class="krk-loading-screen">
    <krk-loader/>
  </div>
} @else {
  <div class="krk-body">
    @if (service.createCollectionDisplayed()) {
      <krk-collection-to-create/>
    }
    @for (collection of service.myCollections(); track collection.id) {
      <krk-collection-to-add [collection]="collection"/>
    } @empty {
      @if (!service.createCollectionDisplayed() && service.modalBodyMessage()) {
        <div class="no-collections-curtain">
          <span>{{ service.modalBodyMessage() }}</span>
        </div>
      }
    }
  </div>
}

