:host {
  display: block;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  border: solid 2px var(--surface);
  background: var(--image-placeholder);
  box-shadow: 0 4px 4px 0px var(--box-shadow);
}
