:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}

.recipe-cover {
  aspect-ratio: 341 / 192;
  border-radius: 10px;
  overflow: hidden;
}

.krk-information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 9px;
}

.krk-text-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.recipe-title {
  font-size: 16px;
  font-weight: bold;
}

.minimal-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-size: 12px;
}

.minimal-information span {
  color: var(--on-surface-light);
}

.separator {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--on-surface-light);
}

.creator-user-name {
  font-weight: bold;
  color: var(--on-surface-light);
}
