:host {
  position: relative;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--on-surface);
  padding: 0 3px;
}

a:focus-visible {
  outline: solid 2px var(--primary);
  border-radius: 3px;
}

span {
  color: var(--primary);
  font-weight: bold;
}

.icon-svg {
  position: relative;
  bottom: 3px;
  left: 2px;
}
