:host {
  display: block;
}

krk-navbar-button {
  gap: 5px;
  cursor: pointer;
}

#add-to-collection-icon {
  fill: var(--krk-on-surface);
  transition: fill 100ms;
}

#circle-behind-add-icon {
  fill: var(--krk-surface);
  transition: fill 200ms;
}

krk-navbar-button:hover {
  #add-to-collection-icon {
    fill: var(--krk-on-button-hover-color);
  }

  & #circle-behind-add-icon {
    fill: var(--krk-button-hover-color);
  }
}
