:host {
  grid-area: top-bar;
  padding: 0px 20px;
  height: 68px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--surface);
}

#left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

#app-name {
  font-size: 25px;
  color: var(--primary);
  font-weight: bold;
}

#right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
