:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.recipe-page-grid {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "krk-recipe-page-cover krk-recipe-page-tags"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-information"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-macros"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-extra-information"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-releases"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-used-by"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-contributors"
    "krk-recipe-page-tabular-descriptions krk-recipe-page-suggestions";
}


