@import "responsive";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include between(mobile, ipad) {
    display: none;
  }
}

krk-title {
  margin-bottom: 20px;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  transition: height 0.1s;
}

.no-subscriptions-message {
  text-align: center;
  margin-bottom: 10px;
}
