:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 50px;
  border-radius: var(--krk-border-radius);
  background: var(--krk-surface);
  gap: 10px;
  padding: 0 15px;
  box-sizing: border-box;
}

:host-context(.selected) {
  background: var(--krk-primary);
}

:host-context(.selected) span {
  color: var(--krk-on-primary);
  font-weight: bold;
}

span {
  color: var(--krk-on-surface);
}
