:host {
  display: block;
}

.divider {
  align-self: stretch;
  width: 1px;
  background-color: var(--krk-on-surface);
}

.sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

krk-navbar-button {
  gap: 12px;
}
