
::ng-deep .bn-default-styles {
  font-size: var(--krk-body-font-size);
}

::ng-deep .bn-default-styles .bn-inline-content {
  line-height: var(--krk-body-line-height);
}

::ng-deep .bn-editor {
  padding-inline: var(--bna-editor-horizontal-padding);
}

::ng-deep [data-level="1"] {
  --level: 2rem;
}

::ng-deep [data-level="2"] {
  --level: 1.5rem;
}

::ng-deep [data-level="3"] {
  --level: 1.3rem;
}
