:host {
  display: block;
}

.krk-glimpse {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  width: 226px;
}

.krk-glimpse-thumbnail {
  width: inherit;
  aspect-ratio: 226 / 337;
  background-color: var(--krk-image-placeholder);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

krk-image {
  width: 100%;
  height: 100%;
}
