:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  width: 90vw;
  max-width: 496px;
}