:host {
  display: block;
  position: absolute;
  align-self: center;
  bottom: -10px;
}

:host ::ng-deep krk-button .krk-button {
  --padding-horizontal: 48px;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}
