:host {
  display: block;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--krk-surface);
  height: 36px;
  width: 36px;
  border-radius: 100%;
  transition: background-color 300ms;
  cursor: pointer;
  border: none;
}

button:focus-visible {
  outline: var(--krk-input-border-focused);
}

button:hover {
  background-color: var(--krk-button-hover-color);
}

button.down {
  background-color: var(--krk-button-down-color) !important;
}

:host ::ng-deep button.down svg {
  fill: var(--krk-on-button-hover-color);
}
