:host {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--krk-image-placeholder);
  overflow: hidden;
}

.loaded-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-image {
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.no-image img {

}
